body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.container {
    background-color: #eceef1;
    width: 400px;
    max-width: 100%;
    min-height: 500px;
    padding: 30px;
    position: relative;
    top: 100px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon-container {
    text-align: center;
}

.icon-container a {
    font-size: 12px;
    font-weight: 800;
}

.form-container {
    
}

.hint {
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    margin-top: -55px;
}

.form-container label {
    float: left;
    font-size: 15px;
    margin: 10px 0 8px 0;
}

.form-container input {
    width: 95%;
    background-color: #f8f8f8;
    border: 1px solid #9b9b9b;
    padding: 10px;
    margin-bottom: 20px;
}

.form-container p {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 30px 15px 0 15px;
}

.form-container span {
    color: #0c5deb;
    text-decoration: underline;
    font-weight: 900;
}

button {
    border: 1px solid #0077c5;
    background-color: #0077c5;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

.footer-container {
    margin-top: 20px;
}

.footer-container p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}